#app_header {
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 36px;
    -fx-background-insets: 40
}

#section_header {
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 28px;
    -fx-background-insets: 20
}

.main_toolbar {
    -fx-font-size: 24px
}

.section_header {
    -fx-font-size: 24px
}
